@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #eacc81;
} 
header {
  margin-top: 100px;
}

#main-container {
  background-color: #fcf3e5;
  max-width: 340px;
  border-radius: 8px;
  margin: 30px auto;
  padding: 22px;
  box-shadow: 4px 4px #38363c; 
  border: 5px solid #38363c;
}

.logo {
  width: 140px;
  height: 40px;
  background-color: #fcf3e5;
  margin-top: -14px;
  margin-right: 200px;
}

.screen {
  width: 95%;
  min-height: 48px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 10px;
  background-color: #d4d8db;
  border: 4px inset #ffffff;
  border-radius: 5px;
  text-align: right;
  font-size: 38px;
  font-family: 'Orbitron';
  color: #666666;
  word-wrap: break-word;
  word-break: break-all;
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  background-color: #fcf3e5;
}

.btn {
  display: block;
  width: 100%;
  height: 72px;
  border-radius: 6px;
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 24px;
  cursor: pointer;
  background-color: #302e33;
  color: #fffbf1;
}

[data-operator='='] {
  background-color: #5e6f91 !important;
  grid-column: 3/5;
  width: 100%;
}


[data-operator] {
  background-color: #727171;
  font-size: 26px;;
}

[data-clear] {
  background-color: #de9310;
}

footer {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 16px;
  text-shadow: 2px 2px 4px #747474;
  color: #fcf3e5;
}
footer>img {
  width: 20px;
  text-align: center;
  padding-right: 8px;
}